@font-face {
    font-family: 'MuseoSansRounded_100';
    src: url(fonts/exljbris_MuseoSansRounded_100.otf);
}
@font-face {
    font-family: 'MuseoSansRounded_300';
    src: url(fonts/exljbris_MuseoSansRounded_300.otf);
}
@font-face {
    font-family: 'MuseoSansRounded_500';
    src: url(fonts/exljbris_MuseoSansRounded_500.otf);
}
@font-face {
    font-family: 'MuseoSansRounded_700';
    src: url(fonts/exljbris_MuseoSansRounded_700.otf);
}
@font-face {
    font-family: 'MuseoSansRounded_900';
    src: url(fonts/exljbris_MuseoSansRounded_900.otf);
}
@font-face {
    font-family: 'MuseoSansRounded_1000';
    src: url(fonts/exljbris_MuseoSansRounded_1000.otf);
}